/* CSS style code */


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Luimp';
    src: url('font/Luimp.ttf') format('truetype'); /* path font folder */
}

/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 62.5px;
    line-height: 33px;
    color: #ebbd82;
    font-style: normal;
    margin: 0 auto;
    padding: 5px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.80),
        rgba(255, 255, 255, 0.80) ) ,
        url('img/PATTERN_CHANTILLY_GOLD.png');
    background-repeat: round;
    background-size: 800px;
    height: 100vh;
}

header {
   max-width: 600px;
}

.logo-img {
    max-width: 18vh;
    margin: 0px 30px 0;
    object-fit: cover;
}

content {
    margin: auto;
}

.block-1 {
  display: grid;
  grid-template-columns: 60% 40%;
}

.chef-img{
    max-height: 85vh;
    border-radius: 15px;
    box-shadow: 0 2px 4px #2f2f2f;
    margin-bottom: 4vh;
}

:root {
    --foreground: #56B6B0;
    --backgroud: #E6C7C5;
}

/* Main Content Styles */

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 2.5vw;
    line-height: 33px;
    color: #2f2f2f;
    font-style: normal;
    margin: 30px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 1.8vw;
    line-height: 3vw;
    color: #2f2f2f;
    font-style: normal;
    margin: 30px;
}

span {
    color: #e06ea4bf;
}

.button:hover {
    background-color: var(--backgroud);
}

p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 20px;
    line-height: 33px;
    color: #2f2f2f;
    font-style: normal;
    text-align: center;
    margin: 40px;
}

/* Added styles for input boxes */
.input-container {
    text-align: center;
    width: auto;
    margin-top: 0vh;
}

.buttom-arrow{
    position: relative;
    display: inline-block;
}

.arrow-img {
    position: absolute;
            top: 47px; /* Ajuste este valor conforme necessário */
            left: 116%;
            transform: translateX(-50%);
            width: 120px; /* Ajuste o tamanho conforme necessário */
            height: auto;
    animation: piscar 0.8s infinite; /* 1s para a duração da animação, infinite para repetir */
}

@keyframes piscar {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

.button {
    display: inline-block;
    background-color: var(--foreground);
    color: #F0ECEA;
    padding: 20px 20px; /* Button size */
    border: 2px solid var(--foreground);
    border: none;
    border-radius: 5px; /* Round corners */
    text-decoration: none;
    box-shadow: 0 2px 4px #2f2f2f;
    /*transition: background-color 0.3s ease;*/
    margin-top: 10vh; /* Vertical position */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    transform: translateX(0); /* Horizontal position */
    transition: color .085s, border-color .085s, background-color .085s;

  &:hover, &:focus {
      color: #2f2f2f;
      border-color: #2f2f2f;
  }
}

.button:hover {
    background-color: var(--foreground);
    cursor: pointer;
}

/* Added styles for boxes */

.img-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    max-width: 3000px;
}

.box {
    border-radius: 60px 60px 0 0;
    margin: 20px 20px 20px 20px;
    overflow: hidden;
}

.box > p {
    font-size: 26px;
    margin: 5px;
}

.img {
    width: 25vh;
    box-shadow: 0 2px 4px #2f2f2f;
}

/* Added styles for footer */
.footer {
    background-color: var(--foreground);
    padding: 20px;
    color: #F0ECEA;
    border-radius: 10px;
    box-shadow: 0 2px 4px #2f2f2f;
    margin-top: 60px;
    text-align: center;
}

.footer > p {
    font-family: 'Luimp', cursive;
    margin: 5px;
}

.footer-icon {
    color: #F0ECEA;
    font-size: 28px;
    margin-right: 10px;
}

.footer-link {
    color: #F0ECEA;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    main {
        position: relative;
    }

    .logo-img {
        margin-top: 0px;
        max-width: 15vh;
    }

    .block-1 {
        grid-template-columns: 1fr;
        justify-items: center;
      }

    .chef-img{
        margin-top: 70px;
        margin-left: 5%;
        width: 50vh;
    }

    h1 {
        font-size: 18px;
        text-align: justify;
        line-height: 20px;
        margin: 18px;
    }

    h2 {
        font-size: 15px;
        margin: 15px;
        line-height: 18px;
    }

    .img-container {
        max-width: 90vh;
    }

    .img {
        width: 40vh;
    }

    .box > p {
        font-size: 22px;
        margin: 5px;
    }

    p {
        font-size: 1.2rem;
    }
}
